@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">Picture Processing</p>
</div>

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        @using (Html.BeginForm("ProcessImages", "Home", FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
        {
            <label for="file">Upload Image:</label>
            <input type="file" name="file" id="file" style="width: 100%;" />
            <input type="submit" value="Upload" class="submit" />
        }
    </div>
    <div class="col-md-4">

    </div>
</div>