
@{
    ViewBag.Title = "ProcessImages";
}

<div class="jumbotron">
    <p class="lead">Picture Processing</p>
</div>

<div class="row">
    <div class="col-md-12">
        <img src="~/finalImage.jpg" class="img-responsive" />
    </div>
    <div class="col-md-12">
        <a href="~/finalImage.jpg" class="btn btn-primary" target="_blank">Download</a>
    </div>
</div>